/* Navbar.css */

.navbar {
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    flex: 1;
  }
  
  .navbar-logo h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar-links {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .navbar-links a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  
  .navbar-auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-auth button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
  .toggle-menu {
    display: none;
  }
  
  .profile {
    position: relative;
    cursor: pointer;
  }
  
  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 200px;
    z-index: 1000;
  }
  
  .profile-dropdown a {
    padding: 10px 15px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s;
  }
  
  .profile-dropdown a:hover {
    background-color: #f0f0f0;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: none;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links a {
      margin: 10px 0;
    }
  
    .toggle-menu {
      display: block;
      font-size: 24px;
      margin-left: 10px;
    }
  }
  