

.mainContainer {
    width: 100%;
    background-color: #f2f3f5;
    min-height: 100vh;
    padding-top: 50px;
  }
  
  .productDetailsContainer {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 20px;
  }
  
  .productInfo {
    display: flex;
    gap: 100px;
  }
  
  .imageContainer {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .brand,
  .price,
  .stock,
  .strength,
  .dosageForm,
  .expirationDate,
  .category {
    font-size: 16px;
    color: #666;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .buyButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buyButton:hover {
    background-color: #0056b3;
  }
  
  .description,
  .usageInstruction {
    margin-top: 20px;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .productInfo {
      flex-direction: column;
      gap: 20px;
    }
    .imageContainer {
        
        width: 300px;
        height: 300px;
        
      }
      
  }
  